body {
  color: #2f80ed;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-image {
  margin: 110px auto 0;
  display: block;
}

.main-title {
  display: inline;
  margin: 10px;
  padding: 0 108px;
  font-size: 9rem;
  font-weight: normal;
}

.main-text {
  visibility: hidden;
  padding: 0;
  margin: 12px auto; 
  width: 420px;
  font-weight: normal;
}

.main-title:hover + .main-text{
  visibility: visible;
}

.footer {
  margin-top: 280px;
}

.footer-text {
  font-weight: normal;
}

.footer-text > a {
  font-weight: normal;
  color: inherit;
}




